<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@JHServices - SUBIR APK</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="container">
        <h1>SUBIR APK</h1>
        <form class="form" action="/upload" method="POST" enctype="multipart/form-data">
            <div class="areaUpload">
                <input class="fileUpload" type="file" name="file" id="file">
            </div>
            <input class="btnUpload" type="submit" value="SUBIR">
        </form>
    </div>
</body>

</html>